{% extends "coderedcms/pages/web_page.html" %}
{% load static feedparser_tags %}

{% block custom_scripts %}
    {{ block.super }}
    <!-- News ticker -->
    <script type="text/javascript" src="{% static 'tickermepink/assets/js/tickerme.js' %}"></script>
    <script type="text/javascript" >
        $(function(){
            $('#ticker').tickerme({
                fade_speed: 900, //The speed each story will fade in and out (milliseconds).
                duration: 3000, //The length of time a story is on the screen (milliseconds).
                auto_stop: false, //If true, the ticker will automatically stop when the previous or next button is clicked.
                control_colour: '#6683B7', //The colour of the play, pause, previous and next controls.
                control_rollover: '#FFFFFF' //The colour of the control buttons on rollover.
            });
        });
    </script>
{% endblock %}

{% block navbar %}

    {% include 'coderedcms/snippets/navbar.html' %}

    {% block news_ticker %}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
        <span class="small">JASMIN News (from <a href="https://www.ceda.ac.uk/blog/tag/jasmin/" target="_blank">CEDA news feed</a>)</span>
        <div id="wrapper">
            {% feedparser_render 'https://www.ceda.ac.uk/blog/tag/jasmin/feeds/rss' template='feedparser/jasmin_news_feed_ticker.html' %}
        </div>
    </div>
    {% endblock %}

{% endblock %}