{% load apptheme_codered_tags i18n %}

{% for entry in feed_content.entries %}
    {% if  entry.published|datemod|dateage < 60 %}
    <div class="card mb-3">

            <div class="card-header">
                {% block blog_post_list_post_title %}
                <div class="row">
                    <div class="col-8 text-left">
                        <h5 class="card-title">{{ entry.title | safe}}</h5>
                    </div>
                    <div class="col-4 text-right">
                        <h6 class="card-subtitle mb-2 text-muted">
                                {% blocktrans with sometime=entry.published|datemod|timesince %}{{ sometime }} ago{% endblocktrans %}
                        </h6>
                    </div>
                </div>
                <h5 class="card-title">
                    
                </h5>
                {% endblock %}
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-8 text-left">
                        {% block blog_post_list_post_metainfo %}
                        {% endblock %}

                        {% block blog_post_list_post_content %}
                        {{ entry.summary | de_b | safe | truncatewords_html:30 }}
                        {% endblock %}

                        {% block blog_post_list_post_links %}
                            {% if entry.links %}
                                {% for link in entry.links %}
                                    {% if link.type == "text/html"%}
                                    <a href="{{ entry.link }}" parent="_blank" class="btn btn-success btn-sm">{% trans "read more" %}</a>{% if not forloop.last %}&nbsp;{% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        {% endblock %}
                    </div>

                    <div class="col-4 text-right">
                        {% if entry.enclosures %}
                            {% for enc in entry.enclosures %}
                                {% if enc.href %}
                                    {% block blog_post_list_post_featured_image %}
                                    <img class="img-thumbnail pull-left img-fluid" src="{{ enc.href }}">
                                    {% endblock %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
    {% endif %}
{% endfor %}
